<launch>

  <arg name="bagname"/>

  <!-- Robot model -->
  <include file="$(find tiago_description)/robots/upload.launch">
    <arg name="arm"                     value="False"/>
    <arg name="end_effector"            value="False"/>
    <arg name="ft_sensor"               value="False"/>
    <arg name="laser_model"             value="sick-571"/>
    <arg name="camera_model"            value="orbbec-astra"/>
    <arg name="wrist_model"             value="False"/>
    <arg name="no_safety_eps"           value="False"/>
    <arg name="base_type"               value="pmb2"/>
  </include>

  <!-- rosbags play -->
  <param name="use_sim_time" value="true" />
  <node name="rosbag_play_data" pkg="rosbag" type="play" 
        args="--clock $(find bag_postprocess_bringup)/bags/$(arg bagname).bag"
        required="true"/>
              <!-- topics /map /tf /tf_static /robot_pose /mobile_base_controller/odom /move_base/goal /velodyne_points"  -->

  <!-- Extracting selected human -->
  <node pkg="hrisim_postprocessing" type="extract_sel_human.py" name="extract_sel_human" args="$(arg bagname)" output="screen">
  </node>

  <!-- ROS-Causal human -->
  <include file="$(find roscausal_human)/launch/human_state.launch">
    <arg name="auto_people_topic" value="/pedsim_simulator/simulated_agents"/>
    <arg name="teleop_people_topic" value="/hri/sel_human"/>
    <arg name="goal_param" value="/hri/goal"/>
    <arg name="source_frame" value="map"/>
    <arg name="target_frame" value="map"/>
  </include>

  <!-- ROS-Causal robot -->
  <include file="$(find roscausal_robot)/launch/robot_state.launch">
    <arg name="odom_topic"  value="/mobile_base_controller/odom"/>
    <arg name="pose_topic"  value="/robot_pose"/>
    <arg name="goal_topic"  value="/move_base/goal"/>
    <arg name="source_frame"  value="base_footprint"/>
    <arg name="target_frame"  value="map"/>
  </include>

  <!-- ROS-Causal data -->
  <include file="$(find roscausal_data)/launch/data_collection.launch">
    <arg name="ts_length" default="15000"/> 
    <!-- <arg name="ts_length" default="150"/>  -->
    <arg name="dt" default="0.1"/> 
    <arg name="subsampling" default="True"/> 
  </include>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bag_postprocess_bringup)/rviz/tiago_rviz.rviz -f map"/>

</launch> 
