<launch>

  <arg name="bagname"/>
  <arg name="peopleID" default="$(find hrisim_postprocessing)/info/peopleID.json"/>
  <arg name="goals" default="$(find hrisim_postprocessing)/info/goals.json"/>

  <!-- Robot model -->
  <include file="$(find tiago_description)/robots/upload.launch">
    <arg name="arm"                     value="False"/>
    <arg name="end_effector"            value="False"/>
    <arg name="ft_sensor"               value="False"/>
    <arg name="laser_model"             value="sick-571"/>
    <arg name="camera_model"            value="orbbec-astra"/>
    <arg name="wrist_model"             value="False"/>
    <arg name="no_safety_eps"           value="False"/>
    <arg name="base_type"               value="pmb2"/>
  </include>

  <!-- rosbags play -->
  <param name="use_sim_time" value="true" />
  <node name="rosbag_play_data" pkg="rosbag" type="play" 
        args="--clock $(find bag_postprocess_bringup)/bags/$(arg bagname).bag"
        required="true"/>
              <!-- topics /map /tf /tf_static /robot_pose /mobile_base_controller/odom /move_base/goal /velodyne_points" -->

  <!-- Offline tracker -->
  <!-- <include file="$(find tiago_tracker_bringup)/launch/tiago_tracker.launch">
  </include> -->

  <!-- Show goals -->
  <node pkg="rviz_visualisation" type="goal_id_visualiser.py" name="goal_id_visualiser" args="$(arg bagname) $(arg goals) $(arg peopleID)" output="screen">
  </node>

  <!-- Extracting selected human goal -->
  <node pkg="hrisim_postprocessing" type="extract_Goal.py" name="extract_goal"  args="$(arg bagname) $(arg peopleID) $(arg goals)" output="screen">
  </node>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bag_postprocess_bringup)/rviz/tiago_rviz_wGoalID.rviz -f map"/>

</launch> 
