<launch>

  <arg name="bagname" />

  <node name="rosbag_record_data" pkg="rosbag" type="record"
      args="record -O /root/shared/$(arg bagname).bag
            /map                                                                                                             
            /tf                                                                                
            /tf_static
            /robot_pose                              
            /mobile_base_controller/odom                                                                                     
            /move_base/goal                                                                                  
            /people_tracker/people
            /velodyne_points"
  />

</launch>